body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 420px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

h1 {
    color: #2c3e50;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    color: #555;
}
